<component name="ArtifactManager">
  <artifact type="war" name="SpringBootShiro:war">
    <output-path>$PROJECT_DIR$/../SpringBootShiro/target</output-path>
    <root id="archive" name="SpringBootShiro-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringBootShiro:war exploded" />
    </root>
  </artifact>
</component>